.floating-card {
    width: auto !important;
    position: absolute !important;
    border: 1px solid #ccc;
    resize: both;
    overflow: visible;
    z-index: 99999 !important;
    cursor: move;
}

.docked-card {
    position: relative;
    width: 100%;
    height: auto;
    left: 0 !important;
    top: 0 !important;
}

#drag-handle {
    cursor: move;
    user-select: none;
}

.undock-button {
    width: fit-content;
    position: relative;
    right: 20px
}

#year-select-value {
#charts {
    display: flex;
    flex-direction: row;
    gap: var(--navbar-drawer-padding);
    @media (min-width: 768px) {
        flex-direction: column;
    }
}

.cardChart {
}

#yearSelectValue {
	font-weight: 700;
	font-size: xx-large;
	align-self: center;
    font-family: 'Inter', sans-serif;
}


#stormSelectValue {
    font-weight: 500;
    font-size: large;
    align-self: center;
    font-family: 'Montserrat', sans-serif;

}

#stormSelect {
	color: var(--main-color);
	font-weight: 500;
	font-size: medium;

}

#yearSelect {
	color: var(--main-color);
	font-weight: 500;
	font-size: medium;

}


.cardChart {
    width: 95%;
}

.chartLabel {
    font-weight: 600;
    padding-bottom: 20px;
}

#area_chart {

}

#donut_chart {
    height: 200px;
}

#barchart_bar {

}

#line_chart {

}

#pie_chart {
    height: 200px;
}

.building-stats-card-label {
    font-weight: 600;
    font-size: x-large;
    /*padding-bottom: 0px;*/
    align-self: center;
    display: flex;
}
#building-selection-count-label {
    font-weight: 600;
    font-size: x-large;
    /*padding-bottom: 20px;*/
    align-self: center;
    display: flex;
}

#building-selection-count-value {
    font-weight: 700;
    font-size: xx-large;
    align-self: center;
    font-family: 'Inter', sans-serif;
}