
.mantine-77lc3g{
    background-color:rgb(255 255 255 / 10%)
}

.sidebar {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

#sidebar-brand-logo-text{
margin: 0 0 0.5rem
}

.sidebar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-main {
}

#sidebar-main-container{
    display: flex;
    justify-content: center;
    align-items: center;

}


#drawer-body {
    /*background-color: rgb(0 0 0 / 0%);*/
    height: 100%;
    position: relative;
    overflow: hidden;
    left: -1.5px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter:blur(5px);
}

#drawer-body-grid {
    display: flex;
    height: 100%;
    background-color: #dcdcdc;
}

#drawer {
    overflow: hidden;
    width: auto;
    /*background-color: chartreuse;*/

}
.mantine-Drawer-content{
    background: rgb(144 155 161 / 5%);
}

.mantine-Drawer-inner{
        /*width: fit-content;*/
}

#collapse-button-container {
    height: 35px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#collapse-button {
    border: #ffffff00;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0px;
}


#collapse-icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.7rem;
    color:var(--main-color);
}

.sidebar-icon {
    margin: 20px -10px 20px 0px;
    filter: drop-shadow(1px 3px 2px gray);
}

/* hover state */
.sidebar-icon:hover {
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 5px;
}



#sidebar-brand-logo {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
}

#sidebar-col1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background: #FFFFFF;
    backdrop-filter: blur(100px);
    padding: 5px;
    width:min-content;
    background-image: url('../svg/sidebar-flip.svg  ');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sidebar-item{
    margin: 5px 0;
}

#sidebar-col1 > *:first-child {
    margin-top: 0;
}

#chart_scrollable_div{
    overflow-y: auto;
}

#chart_scrollable_drawer{
    z-index: 1000;

}

.cardChart{
    width: 350px;
}
.chartLabel{
    font-weight: 600;
    padding-bottom: 20px;
}

#area_chart {

}

#donut_chart{
    height: 200px;
}

#barchart_bar{

}

#line_chart{

}

#pie_chart{
    height: 200px;
}
#sidebar-affix{
    background-color: rgb(0 0 0 / 0%);
    width: 500px;
    height: 100vh;
}

#open-arcgis{
    cursor: pointer;
}