/* Custom slide animations */
.slide-in {
    animation: slideIn 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}


@keyframes slideIn {
    from {
        animation-timing-function: ease;
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        animation-timing-function: ease;
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    from {
        animation-timing-function: ease;
        transform: translateY(0);
        opacity: 1;
    }
    to {
        animation-timing-function: ease;
        transform: translateY(-100%);
        opacity: 0;
    }
}


.slide-left{
    animation: slideLeft 0.5s forwards;
}

.slide-right {
    animation: slideRight 0.5 forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}



/*  End Custom slide animations */

.mantine-77lc3g {
    background-color: rgb(255 255 255 / 10%)
}

.sidebar {
    width: 80px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

#sidebar-brand-logo-text {
    margin: 0 0 0.5rem;
    font-family: "Open Sans", sans-serif;

}

.sidebar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sidebar-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#sidebar-main-container {
    display: flex;
    justify-content: center;
    align-items: center;

}


#drawer-body {
    height: 100%;
    position: relative;
    overflow: hidden;
    left: -1.5px;
    top: 0px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(5px);
}

#drawer-body-grid {
    display: flex;
    height: 100%;
    background-color: #dcdcdc;
}

#drawer {
    width: fit-content(100%);
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: fill-available;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10000;
    height: 100%;
}


.mantine-Drawer-content {
    max-width: 375px;
    background: rgb(229 229 229);
    overflow: hidden;
    overflow-y: scroll;
    width: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    background: rgb(229, 229, 229, 0.5);
}

.mantine-Drawer-content ::-webkit-scrollbar {
    display: none;
}


.mantine-Drawer-inner {
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

.mantine-Drawer-body-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

#collapse-button-container {
    height: 35px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

#collapse-button {
    background-color: transparent;
    border: #ffffff00;
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 0px;
}


#collapse-icon {
    display: inline-block;
    width: 1.2rem;
    height: 1.7rem;
    color: var(--main-color);
}

.sidebar-icon {
    background: transparent;
    color: black;
    filter: drop-shadow(1px 3px 2px gray);
}

.sidebar-icon .mantine-Button-section {
    margin: 0;
}

/* hover state */
.sidebar-icon:hover {
    background-color: var(--main-color);
    color: #FFFFFF;
    border-radius: 5px;
}


#sidebar-brand-logo {
    padding: 0;
    margin: 0;
    width: 32px;
    height: 32px;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
}

#sidebar-col1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    background: #FFFFFF;
    backdrop-filter: blur(100px);
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    width: min-content;
    background-image: url('../svg/sidebar_background.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10001;
}

.sidebar-item {
    margin: 5px 0;
}

#sidebar-col1 > *:first-child {
    margin-top: 0;
}

#chart_scrollable_div {
    overflow-y: auto;
}

#chart_scrollable_drawer {
    z-index: 1000;

}




#sidebar-affix {
    background-color: rgb(0 0 0 / 0%);
    width: 500px;
    height: 100vh;
}

#open-arcgis {
    cursor: pointer;
}