@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://js.arcgis.com/4.29/esri/themes/light/main.css");


:root {
	--main-color: #5932EA;
}

html,
body,
#deckgl-container {
	padding: 0;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.splash {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 1000000;
}

.splash[hidden="true"] {
    display: none;
}

.logo {
    display: flex;
    flex-direction: column;  /* Stack the text and image vertically */
    align-items: center;     /* Center-align the text and image */
    z-index: 1;
}

.logo-text {
    display: flex;
    flex-direction: row;     /* Align the two h1s side by side (row) */
    color: white;
}

.logo-image {
    z-index: 0;
    width: 50%;
    max-width: 600px;
    height: auto;
    visibility: hidden; /* Keeps space for the image but hides it */
}

/*.esri-ui .esri-component {*/
/*    border-radius: 5px !important;*/
/*}*/

#uiCornerBottomRight {
    display: flex; !important;
    flex-direction: column; !important;
    align-items: flex-end; /* Align widgets to the right */
    padding-bottom: 20px; /* Optional: Add padding to the bottom */
}

#uiCornerBottomRight > * {
    margin-bottom: 10px; /* Add margin between elements */
}

/*.esri-compass {*/
/*	border-radius: 10px; !important;*/
/*}*/

/*.esri-zoom .esri-widget--button:first-child {*/
/*    border-start-end-radius: 5px;*/
/*    border-start-start-radius: 5px    ;*/
/*}*/

 /*.esri-widget, .esri-widget--button {*/
 /*       border-radius: 50px;*/
 /*}*/

/*.esri-zoom .esri-widget--button:last-child {*/
/*    border-end-end-radius: 5px;*/
/*    border-end-start-radius: 5px;*/
/*    border-start-end-radius: 0px;*/
/*    border-start-start-radius: 0px;*/
/*}*/

/*.esri-navigation-toggle calcite-button[appearance=outline-fill] {*/
/*    border-start-end-radius: 5px;*/
/*    border-start-start-radius: 5px;*/
/*        border-end-end-radius: 0px;*/
/*    border-end-start-radius: 0px;*/
/*}*/

.esri-ui-bottom-right {
	flex-flow: column !important;

}

.esri-ui-bottom-right .esri-component {
	margin-bottom: 10px !important;
}

calcite-icon {
    --calcite-ui-icon-color:  var(--main-color) !important;
    /*color: #5932EA;*/
}

calcite-button {
    --calcite-ui-icon-color:  var(--main-color) !important;
    /*color: #5932EA;*/
}

/*.button-padding--shrunk .icon-end-empty{*/
/*    border-right: 5px;*/
/*}*/


.button-padding--shrunk .icon-end-empty {
	border-right: 5px;
}

.esri-sketch {
	display: contents !important;
	align-self: center !important;
}

.esri-sketch__panel {
	justify-content: center !important;
}

.esri-attribution__sources {
    display: none;
}

.esri-attribution__powered-by {
    position: absolute;
    width: 10vw;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
}

#customLocateButton,
#customLocateButton calcite-button {
    border-radius: 50%; !important;
    --calcite-color-brand-hover: transparent; !important;
    --calcite-ui-icon-color: var(--main-color) !important;
}

#customZoomButton,
#customZoomButton calcite-button[title="Zoom out"] {
    border-bottom-left-radius: 10px; !important;
    border-bottom-right-radius: 10px; !important;
    --calcite-color-brand-hover: transparent; !important;
    --calcite-ui-icon-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}
#customZoomButton,
#customZoomButton calcite-button[title="Zoom in"] {
	border-top-left-radius: 10px;
	 !important;
	border-top-right-radius: 10px;
	 !important;
	--calcite-ui-icon-color: var(--main-color) !important;
}

#customNavigationToggle,
#customNavigationToggle calcite-button[title="Toggle to pan or rotate in 3D"] {
	border-top-left-radius: 10px;
	 !important;
	border-top-right-radius: 10px;
	 !important;
	--calcite-ui-icon-color: var(--main-color) !important;
}
#customNavigationToggle,
#customNavigationToggle calcite-button[tabIndex="-1"] {
border-bottom-left-radius: 10px;
	 !important;
	border-bottom-right-radius: 10px;
	 !important;
	--calcite-color-brand-hover: transparent;
	 !important;
	--calcite-ui-icon-color: var(--main-color) !important;
	border-color: var(--main-color) !important;
}

.mantine-w78bjd{
    border-radius: 0px;
}

.mantine-1t8pnl2 {
    border-radius: 0px;
}
.mantine-NavLink-body {
    display: none;
}

.mantine-NavLink-icon {
    margin: 0;
    display: flex;
}

.iconify {
    width: 24px;
    height: 24px;
    transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for size changes */
}

/*.esri-ui-bottom-right {*/
/*  flex-flow:column !important;*/
/*  bottom:0;*/
/*  right:0;*/
/*}*/

/* Adjust icon sizes on larger screens */
@media (min-width: 1600px) {
	.iconify {
		width: 24px;
		/* Larger size for large screens */
		height: 34px;
		/* Keep width and height the same for consistency */
	}
}