@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url("https://js.arcgis.com/4.29/esri/themes/light/main.css");

:root {
    --main-color: #5932EA;
}

html,
body,
#deckgl-container {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.hidden {
    display: none;
}

.esri-ui .esri-component {
    /*border-radius: 5px !important;*/
}

.esri-ui-corner .esri-component {
    border-radius: 15px !important;
}

#uiCornerBottomRight {
    display: flex;
!important;
    flex-direction: column;
!important;
    align-items: flex-end; /* Align widgets to the right */
    padding-bottom: 20px; /* Optional: Add padding to the bottom */
}

.esri-compass {
    /*border-radius: 50% !important;*/
}

#uiCornerBottomRight > * {
    margin-bottom: 10px; /* Add margin between elements */
}

/*.esri-compass {*/
/*	border-radius: 10px; !important;*/
/*}*/

/*.esri-zoom .esri-widget--button:first-child {*/
/*    border-start-end-radius: 5px;*/
/*    border-start-start-radius: 5px    ;*/
/*}*/

/*.esri-widget, .esri-widget--button {*/
/*       border-radius: 50px;*/
/*}*/

.esri-ui-bottom-right {
    flex-flow: column !important;

}

.esri-ui-bottom-right .esri-component {
    margin-bottom: 10px !important;
}

calcite-icon {
    --calcite-ui-icon-color: var(--main-color) !important;
    /*color: #5932EA;*/
}

calcite-button {
    --calcite-ui-icon-color: var(--main-color) !important;
    /*color: #5932EA;*/
}


/*.icon {*/
/*    color: red;*/
/*}*/


.button-padding--shrunk .icon-end-empty {
    border-right: 5px;
}

.esri-sketch {
    display: contents !important;
    align-self: center !important;
}

.esri-sketch__panel {
    justify-content: center !important;
}

.esri-attribution__sources {
    display: none;
}

.esri-attribution__powered-by {
    position: absolute;
    width: 10vw;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
}

#customLocateButton,
#customLocateButton calcite-button {
    border-radius: 50%;
!important;
    --calcite-color-brand-hover: transparent;
!important;
    --calcite-ui-icon-color: var(--main-color) !important;
}

#customZoomButton,
#customZoomButton calcite-button[title="Zoom out"] {
    border-bottom-left-radius: 10px;
!important;
    border-bottom-right-radius: 10px;
!important;
    --calcite-color-brand-hover: transparent;
!important;
    --calcite-ui-icon-color: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

#customZoomButton,
#customZoomButton calcite-button[title="Zoom in"] {
    border-top-left-radius: 10px;
!important;
    border-top-right-radius: 10px;
!important;
    --calcite-ui-icon-color: var(--main-color) !important;
}

.mantine-w78bjd {
    border-radius: 0px;
}

.mantine-1t8pnl2 {
    border-radius: 0px;
}

.mantine-NavLink-body {
    display: none;
}

.mantine-NavLink-icon {
    margin: 0;
    display: flex;
}

.iconify {
    width: 24px;
    height: 24px;
    transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for size changes */
}

/*.esri-ui-bottom-right {*/
/*  flex-flow:column !important;*/
/*  bottom:0;*/
/*  right:0;*/
/*}*/

/* Adjust icon sizes on larger screens */
@media (min-width: 1600px) {
    .iconify {
        width: 32px; /* Larger size for large screens */
        height: 32px; /* Keep width and height the same for consistency */
    }
}